/* ----- GENERICS ----- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

/* ----- UTILITY ----- */

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

/* ----- CONTENT ----- */

.header {
    background-color: blue;
    height: 500px;
    justify-content: center;
    flex-wrap: wrap;
}

.navigation {
    background-color: white;
    height: 30px;
    margin-top: 20px;
}

.call-to-action {
    background-color: white;
    height: 100px;
    margin: 0 400px;
    text-align: center;
}

.main {
    background-color: grey;
    height: 1000px;
    justify-content: center;
}

.paragraph {
    text-align: center;
}

h2, .paragraph {
    display: inline;
}