/* ----- GENERICS ----- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

/* ----- UTILITY ----- */

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

/* ----- CONTENT ----- */

.header {
    background-color: yellowgreen;
}

.navigation {
    justify-content: center;
    flex-grow: 1;
}