/* ----- GENERICS ----- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

/* ----- UTILITY ----- */

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

/* ----- CONTENT ----- */

.header {
    background-color: blue;
    height: 500px;
    justify-content: center;
    flex-wrap: wrap;
}

.navigation {
    background-color: white;
    height: 30px;
    margin-top: 20px;
}

.call-to-action {
    background-color: white;
    height: 100px;
    margin: 0 400px;
    text-align: center;
}

.main {
    background-color: #ccc;
    height: 2000px;
    flex-wrap: wrap;
}

.paragraph {
    text-align: center;
    height: 300px;
    margin: 50px 400px;
    background-color: white;
}
.text {
    text-align: left;
    margin-left: 300px;
}

.text-left {
    text-align: left;
    margin-right: 300px;
}

.footer {
    background-color: black;
    height: 500px;
    padding: 20px 200px;
}

.button {
    height: 50px;
    margin: 50px 700px;
}

h2 {
    margin: 10px 0;
}

.bottom-nav {
    background-color: blue;
    height: 300px;
    margin: 30px;
}

.bottom-nav > h2 {
    color: white;
}